<%- include('../partials/head') %>
    <html lang="en">

    <body>
        <div class="wrapper">
            <header>
                <div class="top-bar">
                    <div class="logo">CSE Motors</div>
                    <div class="account-link">My Account</div>
                </div>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Custom</a></li>
                        <li><a href="#">Sedan</a></li>
                        <li><a href="#">SUV</a></li>
                        <li><a href="#">Truck</a></li>
                    </ul>
                </nav>
            </header>

            <main>
                <%- body %>
            </main>

            <%- include('../partials/footer') %> 
        </div>
    </body>

    </html>