<div class="content">

    <section class="intro">
        <div class="car-image">
            <h2>Welcome to CSE Motors!</h2>
            <img src="images/vehicles/delorean.jpg" alt="DMC Delorean">
            <div class="box">
                <p>DMC Delorean</p>
                <ul>
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <a href="#" class="button">Own Today</a>
            </div>
        </div>
    </section>

    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade-items">
            <div class="upgrade">
                <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor">
                <p>Flux Capacitor</p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/flame.jpg" alt="Flame Decals">
                <p>Flame Decals</p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                <p>Bumper Stickers</p>
            </div>
            <div class="upgrade">
                <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps">
                <p>Hub Caps</p>
            </div>
        </div>
    </section>

    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        <div class="review">
            <p>"So fast it's almost like traveling in time." (4/5)</p>
        </div>
        <div class="review">
            <p>"Coolest ride on the road." (4/5)</p>
        </div>
        <div class="review">
            <p>"I'm feeling McFly!" (5/5)</p>
        </div>
        <div class="review">
            <p>"The most futuristic ride of our day." (4.5/5)</p>
        </div>
        <div class="review">
            <p>"80's livin and I love it!" (5/5)</p>
        </div>
    </section>
</div>